.flashy {
  font-style: italic;
  color: red;
  text-align: center;
}

.best {
  font-weight: bold;
  background-color: seashell;
  color: blueviolet;
  text-align: center;
  font-size: 25px;
}

.centered-image {
  width: 50%;
  margin: auto;
  height: auto;
  display: block;
}

.strong {
  font-style: italic;
}

.body-text {
  border: 10px solid green;
  padding: 35px;
  background-color: ivory;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.not-important {
  font-size: 10px;
}